<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> <%= title %></title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include ('header.ejs') %>
            <h6 class="py-2 text-xl">Signup as a new educator</h6>
            <p class="py-2 text-lg border-b-2 mb-2">Already have an account? <a href="/edulogin" class="text-green-600 font-semibold hover:underline">Sign-in</a></p>
            <form action="/users" method="post" autocomplete="on">
                <div class="py-3">
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName" id="firstName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="lastName">Last Name: </label>
                    <input type="text" name="lastName" id="lastName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded px-5 py-2">Sign-up</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>