<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons8-books-doodle-favicons/Web/icons8-books-doodle-16.png">
    <title><%= title %></title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .form-container {
            background-color: #ffffff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            max-width: 400px;
            width: 100%;
        }

        .header {
            background-color: #3498db;
            color: white;
            padding: 15px;
            border-radius: 8px 8px 0 0;
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .form-content {
            padding: 20px;
        }

        .paragraph {
            font-size: 1rem;
            margin-bottom: 15px;
            text-align: center;
        }

        .signup-link {
            color: #2ecc71;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }

        .button {
            background-color: #2ecc71;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;
            &:hover {
                background-color: #27ae60;
            }
        }

        .error-message {
            background-color: #e74c3c;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="form-container">
        <div class="header">Hey User! Reset your password here.</div>
        <div class="form-content">
            <p class="paragraph">Don't have an account..? <a href="/signup" class="signup-link">Sign-up here</a></p>

            <form action="/resetPassword" method="post" autocomplete="on" class="form">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div class="form-group">
                    <label for="email" class="label">Existing Email: </label>
                    <input type="email" name="email" id="email" class="input">
                </div>

                <div class="form-group">
                    <label for="password" class="label">New Password: </label>
                    <input type="password" name="password" id="password" class="input">
                </div>

                <div class="form-group">
                    <button type="submit" class="button">Set Password</button>
                </div>
            </form>

            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                  <p class="error-message"><%= messages.error[i] %></p>
                <% } %>
              <% } %>
        </div>
    </div>
</body>

</html>
