<div class="py-4" style="display: flex; justify-content: space-between;">
    <h1 class="text-black-600 text-xl font-semibold border-b-2 py-2">Welcome, </h1>
    <a href="/signout" class="text-green-600 text-xl font-semibold border-b-2 py-2">Signout</a>
</div>