<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> <%= title %></title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include ('header.ejs') %>
            <div class="py-4" style="display: flex; justify-content: space-between;">
                <h1 class="text-black-600 text-xl font-semibold border-b-2 py-2">Welcome</h1>
                <a href="/tsignout" class="text-green-600 text-xl font-semibold border-b-2 py-2">Signout</a>
            </div>
            <!-- Add a form for creating a new course -->
            <form action="/courses" method="post" autocomplete="on">
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="courseName" placeholder="Course Name" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
                    </div>
                    <div class="flex-auto">
                        <input type="text" name="courseDescription" placeholder="Course Description" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2 hover:bg-green-900">Create Course</button>
                    </div>
                </div>
            </form>
            <%= displayCourses.ejs %>

            <!-- Add any additional content you need here -->
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="bg-red-300 my-4 list-none rounded border-gray-50 px-4 py-2"><%= messages.error[i] %></p>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>